name: Bot workflow

on:
  push:
    paths:
      - '.github/workflows/bot.yaml'
      - 'project/pom.xml'
      - 'project/bot/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Maven build
        working-directory: ./project
        run: mvn package -pl bot -am
